<div class="well" ng-controller="authCtrl">
	<div class="alert alert-info" ng-show="authenticationError">
		Your username or password is not correct, click<a href="#" style="color:red"> here</a> try again!
	</div>

	<div class="form-group" ng-hide="authenticationError">
		<form name="authForm" novalidate>
			<span>Enter your name and password and click Log in to authenticate</span>
			<div class="form-group">
				<h3>Username</h3>
				<input class="form-control" ng-model="name" requried/>
			</div>
			<div class="form-group">
				<h3>Password</h3>
				<input type="password"class="form-control" ng-model="password" required />
			</div>
			<button class="btn btn-primary" ng-click="authenticate(name, password)" ng-disabled="authForm.$invalid">Log in</button>
		</form>
	</div>
</div>