<div class="lead" ng-controller="checkoutCtrl">
	Your cart
	<table class="table">
		<thead>
			<tr><th>Quantity</th><th>Item</th><th class="text-right">Price</th><th class="text-right">Subtotal</th></tr>
		</thead>
		<tbody ng-repeat="product in cartData">
			<tr>
				<td>{{product.count}}</td>
				<td>{{product.name}}</td>
				<td class="text-right">{{product.price | currency}}</td>
				<td class="text-right">{{getSubtotal(product) | currency}}</td>
				<td><button ng-click="removeProduct(product)" class="btn btn-sm btn-warning">Remove</button></td>
			</tr>

		</tbody>
		<tfoot>
			<tr>
				<td colspan="3" class="text-right">Total:</td>
				<td class="text-right">
					{{getTotal() | currency}}
				</td>
			</tr>
		</tfoot>
	</table>
	<div class="text-center">
		<a href="#/products" class="btn btn-primary">Continue shopping</a>
		<a href="#/placeOrder" class="btn btn-primary">Place order</a>
	</div>
</div>
